<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> <!-- *ngIf="isUserAuthenticated()" --> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isUserAuthenticated()" [routerLink]="['/login']">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isUserAuthenticated()" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="/assets/qr.png" style="width: 50%; background-color: #727272;" class="mx-auto">
        <br><br>
        <ion-button (click)="startScanner()">SCANEAR</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="letra_chica">CODIGO RESTAURANTE</ion-label>
            <ion-input [(ngModel)]="idRes" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-item >
          <ion-label position="floating" class="letra_chica">CODIGO Mesa</ion-label>
          <ion-input [(ngModel)]="codMesa" type="text"></ion-input>
        </ion-item><br>
        <span class="centrado">
          <ion-button class="ion-align-self-center" (click)="pedirMesa()">Pedir Mesa</ion-button>
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <span class="ion-text-center">
          ¿No conoces el código? <br>
          <a class="mx-auto" [routerLink]="['/listarest']">Todos los restaurantes</a>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<style>
  .letra_chica{
    font-size: 15px;
  }
</style>
