<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> <!-- *ngIf="isUserAuthenticated()" --> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="ion-margin" >
    <ion-item>
      <ion-label position="floating">CORREO</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">CONTRASEÑA</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <br>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-button [routerLink]="['/home']" color="danger">Cancelar</ion-button>
        <ion-button (click)="login()">Iniciar sesión</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        ¿Aún no tienes cuenta?&nbsp;
        <a [routerLink]="['/register']">Regístrate</a>
      </ion-row>
    </ion-grid><br>
    <img *ngIf="isdark()"class="ion-margin-top" src="../../assets/img/LOGO-blanco.png" />
    <img *ngIf="!isdark()"class="ion-margin-top" src="../../assets/img/LOGO-NEGRO.png" />
  </div>
</ion-content>
