<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> <!-- *ngIf="isUserAuthenticated()" --> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngFor="let platoind of platoind; let indx = index">
     {{platoind[indx].Nombre}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isUserAuthenticated()" [routerLink]="['/login']">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isUserAuthenticated()" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides *ngIf="imgplatos_ind != ''">
    <ion-slide *ngFor="let img of imgplatos_ind[0]; let idx2 = index">
      <div class="slide" *ngFor="let platoind of platoind;">
        <img src="http://localhost/getfile/{{id.id1}}/platos/{{platoind[0].IdPlatos}}/{{img}}" />
      </div>
    </ion-slide>
  </ion-slides> 


  <div *ngIf="imgplatos_ind == ''">
    <img src="/assets/img/LOGO-NEGRO.png"/>
  </div>

  <div *ngFor="let plato of platoind; let idx = index">
    <!-- <h2 class="ion-text-center">{{plato[idx].Nombre}}</h2> -->
    <p class="ion-text-center">{{plato[idx].Descripcion}}</p>
    <ion-grid>
      <h4 class="ion-text-center">Alérgenos</h4><br>
      <ion-row>
        <ion-col  *ngFor="let alergeno of alergeno; let i = index">
          <ion-list>
            <ion-item>
              <ion-label class="ion-text-center">{{alergeno.Alergeno}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid> 
    <h2 *ngIf="isUserAuthenticated()" class="ion-text-center">{{plato[idx].Precio}} €</h2>    
    
  </div>
  <ion-fab *ngIf="isUserAuthenticated()" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="success" *ngFor="let plato of platoind; let idx = index">
      <ion-icon md="add" ios="add" (click)="saveplato(plato[idx].Nombre, plato[idx].IdPlatos)"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
