<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> <!-- *ngIf="isUserAuthenticated()" --> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Oh Mama! Oh my Food!
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isUserAuthenticated()" [routerLink]="['/login']">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isUserAuthenticated()" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-row > -->
    <span *ngIf="platosPed != null">


      <ion-item>
        <ion-label>CodigoMesa</ion-label>
        <ion-select [(ngModel)]="codigoMesa" *ngFor="let mesa of mesasRestaurante">
          <ion-select-option value="{{mesa}}">{{mesa}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-button md="env" ios="env" (click)="enviarPedido()">Finalizar pedido</ion-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-button md="env" ios="env" >Cancelar pedido</ion-button>
      </ion-fab>
      <span *ngFor="let plat of platosPed; let idx = index" >
        <ion-card *ngIf="plat != null">
          <p class="ion-text-center">Nombre plato: {{plat.plato}}</p>
          <p class="ion-text-center">Cantidad: {{plat.cantidad}}</p>
          <p class="ion-text-center">precio:{{plat.precio}}</p>
        </ion-card>
      </span>
    </span>
    <span class="ion-text-center " *ngIf="platosPed == null">
        <p class="ion-padding" >Su carrito está vacío</p>
    </span>
    

  
  <!-- </ion-row> -->
  
</ion-content>
<style>
  .padding-less{
    padding: 0%;
  }
  
</style>
