<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> <!-- *ngIf="isUserAuthenticated()" --> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Categorias
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isUserAuthenticated()" [routerLink]="['/login']">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isUserAuthenticated()" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen  scroll-y="true">
  <ion-slides>

    <ion-slide>
      <ion-grid>
        <ion-row >
          <ion-col size="6" *ngFor="let categorias of categorias_rest; let idx = index">
            <ion-card [routerLink]="['/platos', this.id.id, categorias.IdCaMeCa]">
              <span  *ngFor="let img of img_categorias_rest;">
                <span *ngIf="categorias.IdCaMeCa == img[0]">
                  <span *ngIf="img[1]!=0">
                    <img src="http://localhost/getfile/{{categorias.IdRes}}/categorias/{{img[0]}}/{{img[1]}}" />
                  </span>
                  <span *ngIf="img[1]==0">
                    <img src="/assets/img/LOGO-NEGRO.png" />
                  </span>
                </span>
                
              </span>
              <ion-card-header>
                <ion-card-subtitle>{{categorias.Nombre}}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-slide>

    
  </ion-slides>
</ion-content>

<style>
  ion-slides {
    height: 100%;
  }
  .swiper-slide {
    overflow-y: scroll;    
    display: block;
  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
  }

  ion-card{
    margin: 0%;
  }
  /* .swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
  } */

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }

  p b {
    color: var(--ion-text-color, #000000);
  }
  .centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
