<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> <!-- *ngIf="isUserAuthenticated()" --> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ticket
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isUserAuthenticated()" [routerLink]="['/login']">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isUserAuthenticated()" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="visualTicket">
    <ion-card-header>
      <ion-card-subtitle>Comanda: {{visualTicket.codCom}}</ion-card-subtitle>
      <ion-card-title>{{visualTicket.restaurante}} </ion-card-title>
      <p>Tipo pedido: {{visualTicket.tipo}} </p>
      <p>Fecha pedido: {{visualTicket.fecha}}</p>
    </ion-card-header>
  
    <ion-card-content>
      <h4>Platos:</h4>
      <ion-list *ngFor="let pla of visualTicket.platos">
        <ion-item>
          <ion-label>{{pla.platos}}  x {{pla.cantidad}} - {{pla.precio}}€</ion-label>
        </ion-item>
      </ion-list>
      Precio final: {{visualTicket.preciofinal}} €
    </ion-card-content>
  </ion-card>
  
</ion-content>
<style>
  .padding-less{
    padding: 0%;
  }
  
</style>
