<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"> <!-- *ngIf="isUserAuthenticated()" --> 
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ticket
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isUserAuthenticated()" [routerLink]="['/login']">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isUserAuthenticated()" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{visualTicket.codCom}}</ion-card-subtitle>
      <ion-card-title>{{visualTicket.restaurante}} {{visualTicket.tipo}} {{visualTicket.fecha}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list *ngFor="let pla of visualTicket.platos">
        <ion-item>
          <ion-label>{{pla.platos}} {{pla.cantidad}} {{pla.precio}}</ion-label>
        </ion-item>
      </ion-list>
      {{visualTicket.preciofinal}}
    </ion-card-content>
  </ion-card>
  
</ion-content>
<style>
  .padding-less{
    padding: 0%;
  }
  
</style>
